a {
	text-decoration: none;
}

table.jutra-table td {
	padding: 2px;
}

tr.failed {
	background-color: #FBEFEF;
}

tr.passed {
	background-color: #E0F8E0;
}

tr.skipped {
	background-color: #EFEFFB;
}