#pageContainer {
	padding-left: 10px;
	padding-right:10px;
}

a {
	text-decoration: none;
}

table.jutra-table td {
	padding: 2px;
}

table.jutra-table th {
	padding: 2px;
}

table.jutra-info-table td {
	padding: 2px;
}

tr.failed {
	background-color: #FBEFEF;
}

tr.passed {
	background-color: #E0F8E0;
}

tr.skipped {
	background-color: #EFEFFB;
}

.red {
	color: red;
}

.right {
	float: right;
}