#pageContainer {
	padding-left: 10px;
	padding-right:10px;
}

a {
	text-decoration: none;
}

a.buttonStyle {
	background: #A9E2F3;
	border-color : #000000;
	border-style: solid;
	border-radius: 5px;
	border-width : 1px 1px 1px 1px;
	text-decoration : none;
	padding : 10px;
}

a.buttonStyleSmall {
	background: #DCDCDC;
	border-color: #A9A9A9;
	border-style: solid;
	border-radius: 3px;
	border-width : 1px 1px 1px 1px;
	text-decoration : none;
	padding : 2px;
}

.novisited-links a:visited {
	color: blue;
}

table.jutra-table td {
	padding: 3px;
}

table.jutra-table th {
	padding: 3px;
}

table.jutra-table-big td {
	padding: 8px;
}

table.jutra-table-big th {
	padding: 8px;
}

table.jutra-info-table td {
	padding: 2px;
}

table.jutra-runs-table th {
	padding: 10px;
}

table.jutra-runs-table td {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	border-left: solid 1px;
	border-right: solid 1px;
}

tr.failed {
	background-color: #FBEFEF;
}

tr.passed {
	background-color: #E0F8E0;
}

tr.skipped {
	background-color: #EFEFFB;
}

ul.jutra-list li {
	margin: 10px;
}

.red {
	color: red;
}

.right {
	float: right;
}

.selected-button {
	background-color: yellow;
}