{{define "layout"}}
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{template "title"}}</title>
	<link rel="icon" type="image/png" href="/static/favicon.png" />
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="/static/main.css">
	<link rel="stylesheet" href="/static/foundation-icons/foundation-icons.css" />
</head>
<body>

<div class="header">
	<div class="pure-menu pure-menu-horizontal" >
		<a href="/" class="pure-menu-heading pure-menu-link">JUTRA</a>
		
		<ul class="pure-menu-list">
			{{if and .User .User.LoggedIn}}
	        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
				<a href="#" id="menuLink1" class="pure-menu-link">Admin</a>
				<ul class="pure-menu-children">
					<li class="pure-menu-item"><a href="/admin/list-users" class="pure-menu-link">Manage Users</a></li>
				</ul>
			</li>
			{{end}}
		</ul>
		
		<ul class="pure-menu-list right" >
			{{with .User}}
			{{if .LoggedIn}}
			<li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Logout</a></li>
			{{else}}
			<li class="pure-menu-item"><a href="/login" class="pure-menu-link">Login</a></li>
			{{end}}
			{{end}}
			
		</ul>
		
	</div>
</div>

	<div id="pageContainer">
	{{template "body" .Data}}
	<div>

</body>
</html>
{{end}}