{{define "title"}}Test Launches{{end}}

{{define "body"}}
<h1>Branches</h1>

<table border="1" class="jutra-table-big novisited-links">
	<tr>
		<th>Branch name</th>
		<th>Last changes date</th>
		<th>Status</th>
		<th>Actions</th>
	</tr>
{{range $index, $val := .}}
	<tr {{if $val.LastLauchFailed}}class="failed"{{else}}class="passed"{{end}} >
		<td><a href="/branch?branchId={{$val.Id}}" >{{$val.BranchName}}</a></td>
		<td>{{$val.CreationDate.Format "2006 Jan 02"}}</td>
		<td>{{if $val.LastLauchFailed}}FAILING{{else}}HEALTHY{{end}}</td>
		<td><a href="/delete-branch/{{$val.Id}}" title="Delete this branch" onclick="return confirm('Are you sure?')"><i class="fi-x red"></i></a></td>
	</tr>
{{end}}
</table>

<p>
<a href="/filter-branches">Filter branches</a>
</p>

<script>
setTimeout(function () { location.reload(1); }, 300000);
</script>

{{end}}