{{define "title"}}Test Launches{{end}}

{{define "body"}}
<h1>Test Launches</h1>

<ul>
{{range $index, $val := .}}
	<li><a href="launch?launch_id={{$val.Id}}">{{$val.CreateDate}} - FailedTestsNum: {{$val.FailedTestsNum}}</a></li>
{{end}}
</ul>


{{end}}