{{define "title"}}Test Launches{{end}}

{{define "body"}}
<h1>Test Launches</h1>

<canvas style="margin:10px;" height="400" id="launchesPlot" >Update your browser</canvas>
<script src="/static/js/jutra_plot.js"></script>
<script>
	var canv = document.getElementById("launchesPlot");
	canv.width = window.innerWidth * 0.95;
	var testRuns = [
{{range $index, $val := .}}
		{date: {{$val.CreateDate.Unix}}, fails: {{$val.FailedTestsNum}} },
{{end}}
		];
	var chart = new Chart(canv, testRuns);
	chart.culculatePlots();
	chart.repaint();
</script>

<div id="diffLinkContainer" style="display: none; padding: 20px;">
	<a id="diffLink" class="buttonStyle">
		See difference between <span id="launchId1">null</span> and <span id="launchId2">null</span>
	</a>
</div>

<table class="jutra-runs-table" >
	<thead>
		<tr>
			<th>Launch No.</th>
			<th>Tests launch</th>
			<th>Label</th>
			<th>Failed Tets Num</th>
			<th>ACTIONS</th>
			<th colspan="2">Launches diff</th>
		</tr>
	</thead>
{{$allLaunches := .}}
	
{{$launchesNum := len .}}
{{$launchesNum := minus $launchesNum 1}}
{{range $index, $val := .}}
{{$actualIndex := minus $launchesNum $index}}
{{$lanch := index $allLaunches $actualIndex}}
	<tr>
		<td>{{$lanch.Id}}</td>
		<td><a href="launch?launch_id={{$lanch.Id}}">{{$lanch.CreateDate.Format "2006-01-02 15:04:05"}}</a></td>
		<td>{{$lanch.Label}}</td>
		<td><center>{{$lanch.FailedTestsNum}}</center></td>
		<td>
			<center>
				<a class="buttonStyleSmall" href="/delete-launch?launch_id={{$lanch.Id}}" title="Delete this test run" ><i class="fi-x red"></i></a>
				&nbsp;&nbsp;
				<a class="buttonStyleSmall"
					href="/delete-this-and-previous-launches?launch_id={{$lanch.Id}}"
					title="Delete this and previous runs"
					onclick="return confirm('Are you sure?')" >
						<i class="fi-arrow-down red"></i><i class="fi-x-circle red"></i>
				</a>
			</center>
		</td>
		<td><button id="fromBtn{{$lanch.Id}}" onclick="leftInDiff({{$lanch.Id}})" >from</button></td>
		<td><button id="toBtn{{$lanch.Id}}" onclick="rightInDiff({{$lanch.Id}})" >&nbsp;&nbsp;to&nbsp;&nbsp;</button></td>
	</tr>
{{end}}
</table>

<script>
var launchId1 = null;
var launchId2 = null;
var alreadyScrolled = false;

function leftInDiff(launchId) {
	if (launchId1 != null) {
		document.getElementById("fromBtn" + launchId1).className = "";
	}
	launchId1 = launchId;
	document.getElementById("fromBtn" + launchId).className = "selected-button";
	updateHtml();
}

function rightInDiff(launchId) {
	if (launchId2 != null) {
		document.getElementById("toBtn" + launchId2).className = "";
	}
	launchId2 = launchId;
	document.getElementById("toBtn" + launchId).className = "selected-button";
	updateHtml();
}

function updateHtml() {
	if (launchId1 != null && launchId2 != null) {
		containter = document.getElementById("diffLinkContainer");
		containter.style.display="block";
		
		link = document.getElementById("diffLink");
		link.href = '/diff?launch_id1=' + launchId1 + '&launch_id2=' + launchId2;
		
		if (!alreadyScrolled) {
			window.location.hash = "#diffLinkContainer";
			alreadyScrolled = true;
		}
		
	}
	document.getElementById("launchId1").innerHTML = ("" + launchId1);
	document.getElementById("launchId2").innerHTML = ("" + launchId2);
}
</script>

{{end}}