{{define "title"}}View Launch{{end}}

{{define "body"}}
<h1>Diff Between Test Launches</h1>

<a href="/launch?launch_id={{.LaunchId1}}">Launch 1</a>
<a href="/launch?launch_id={{.LaunchId2}}">Launch 2</a>

<h2>Added tests</h2>
<ul>
{{range $index, $val := .AddedTests}}
	<li><a href="/test?test_id={{$val.Id}}" >{{$val.ClassName}} # {{$val.Name}} - {{$val.Status}}</a></li>
{{end}}
</ul>

<h2>Removed tests</h2>
<ul>
{{range $index, $val := .RemovedTests}}
	<li><a href="/test?test_id={{$val.Id}}" >{{$val.ClassName}} # {{$val.Name}} - {{$val.Status}}</a></li>
{{end}}
</ul>

<h2>PASSED -> FAILED</h2>
<ul>
{{range $index, $val := .PassedToFailedTests}}
	<li><a href="/test?test_id={{$val.Id}}" >{{$val.ClassName}} # {{$val.Name}} - {{$val.Status}}</a></li>
{{end}}
</ul>

<h2>FAILED -> PASSED</h2>
<ul>
{{range $index, $val := .FailedToPassedTests}}
	<li><a href="/test?test_id={{$val.Id}}" >{{$val.ClassName}} # {{$val.Name}} - {{$val.Status}}</a></li>
{{end}}
</ul>

<h2>PASSED -> SKIPPED</h2>
<ul>
{{range $index, $val := .PassedToSkippedTests}}
	<li><a href="/test?test_id={{$val.Id}}" >{{$val.ClassName}} # {{$val.Name}} - {{$val.Status}}</a></li>
{{end}}
</ul>

<h2>FAILED -> SKIPPED</h2>
<ul>
{{range $index, $val := .FailedToSkippedTests}}
	<li><a href="/test?test_id={{$val.Id}}" >{{$val.ClassName}} # {{$val.Name}} - {{$val.Status}}</a></li>
{{end}}
</ul>

<h2>SKIPPED -> FAILED</h2>
<ul>
{{range $index, $val := .SkippedToFailedTests}}
	<li><a href="/test?test_id={{$val.Id}}" >{{$val.ClassName}} # {{$val.Name}} - {{$val.Status}}</a></li>
{{end}}
</ul>

<h2>SKIPPED -> PASSED</h2>
<ul>
{{range $index, $val := .SkippedToPassedTests}}
	<li><a href="/test?test_id={{$val.Id}}" >{{$val.ClassName}} # {{$val.Name}} - {{$val.Status}}</a></li>
{{end}}
</ul>

{{end}}