{{define "title"}}View Launch{{end}}

{{define "body"}}
<h1>Launch No. {{.LaunchId}} {{.Label}}</h1>

<p><a href="/branch?branchId={{.BranchId}}">To parent branch</a></p>
<p><a href="/packages?launch_id={{.LaunchId}}">Show by packages</a></p>

<table class="jutra-table">
<tr><td>Overal tests number: </td><td>{{len .Tests}}</td></tr>
<tr><td>Failed tests number: </td><td>{{.FailedTestsNum}}</td></tr>
<tr><td>Passed tests number: </td><td>{{.PassedTestsNum}}</td></tr>
<tr><td>Skipped tests number: </td><td>{{.SkippedTestsNum}}</td></tr>
</table>

<h2>Tests</h2>

<table class="jutra-info-table" border="1">
<thead>
	<tr>
		<th>Test Class</th>
		<th>Test Name</th>
		<th>Status</th>
	</tr>
</thead>
{{range $index, $val := .Tests}}
	<tr {{if eq $val.Status "FAILED"}}class="failed"{{end}} {{if eq $val.Status "PASSED"}}class="passed"{{end}} {{if eq $val.Status "SKIPPED"}}class="skipped"{{end}}>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/package?launch_id={{$val.TestLaunchId}}&package={{$val.Package}}">{{$val.Package}}</a><br /><b>{{$val.ClassName}}</b></td>
		<td><a href="/test?test_id={{$val.Id}}" >{{$val.Name}}</a></td>
		<td>{{$val.Status}}</td>
	</tr>
{{end}}

</table>

{{end}}