{{define "title"}}View Launch{{end}}

{{define "body"}}
<h1>Launch No. {{.LaunchId}} {{.Label}}</h1>

<p><a href="/branch?branch_name={{.Branch}}">To {{.Branch}} branch</a></p>
<p><a href="/packages?launch_id={{.LaunchId}}">Show by packages</a></p>

<p>
Overal tests number: {{len .Tests}}<br />
Failed tests number: {{.FailedTestsNum}}<br />
Passed tests number: {{.PassedTestsNum}}<br />
Skipped tests number: {{.SkippedTestsNum}}<br />
</p>

<h2>Tests</h2>

<table class="jutra-table" border="1">
<thead>
	<tr>
		<th>Test Class</th>
		<th>Test Name</th>
		<th>Status</th>
	</tr>
</thead>
{{range $index, $val := .Tests}}
	<tr {{if eq $val.Status "FAILED"}}class="failed"{{end}} {{if eq $val.Status "PASSED"}}class="passed"{{end}} {{if eq $val.Status "SKIPPED"}}class="skipped"{{end}}>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/package?launch_id={{$val.TestLaunchId}}&package={{$val.Package}}">{{$val.Package}}</a><br /><b>{{$val.ClassName}}</b></td>
		<td><a href="/test?test_id={{$val.Id}}" >{{$val.Name}}</a></td>
		<td>{{$val.Status}}</td>
	</tr>
{{end}}

<table>

{{end}}