{{define "title"}}Test Launches{{end}}

{{define "body"}}
<h1>Test Launches</h1>

<canvas style="margin:10px;" height="400" id='launchesPlot'>Update your browser</canvas>
<script src="/static/js/jutra_plot.js"></script>
<script>
	var canv = document.getElementById("launchesPlot");
	canv.width = window.innerWidth * 0.95;
	var dots = [
{{range $index, $val := .}}
		{x: {{$val.CreateDate.Unix}}, y: {{$val.FailedTestsNum}}, displayX: {{$val.CreateDate.Format "Jan 2"}} },
{{end}}
		];
	DrawChart(canv, dots);
</script>

<div id="diffLinkContainer" style="display: none; padding: 20px;">
	<a id="diffLink" class="buttonStyle">
		See difference between <span id="launchId1">null</span> and <span id="launchId2">null</span>
	</a>
</div>

<table class="pure-table" >
	<thead>
		<tr>
			<th>No</th>
			<th>Launch No.</th>
			<th>Tests launch</th>
			<th>Label</th>
			<th>Failed Tets Num</th>
			<th>ACTIONS</th>
			<th colspan="2">Launches diff</th>
		</tr>
	</thead>
{{$allLaunches := .}}
	
{{$launchesNum := len .}}
{{$launchesNum := minus $launchesNum 1}}
{{range $index, $val := .}}
{{$actualIndex := minus $launchesNum $index}}
{{$lanch := index $allLaunches $actualIndex}}
	<tr>
		<td>{{$actualIndex}}</td>
		<td>{{$lanch.Id}}</td>
		<td><a href="launch?launch_id={{$lanch.Id}}">{{$lanch.CreateDate.Format "2006-01-02 15:04:05"}}</a></td>
		<td>{{$lanch.Label}}</td>
		<td>{{$lanch.FailedTestsNum}}</td>
		<td>
			<a href="/delete-launch?launch_id={{$lanch.Id}}"><i class="fi-x red"></i></a>
		</td>
		<td><button onclick="leftInDiff({{$lanch.Id}})" >from</button></td>
		<td><button onclick="rightInDiff({{$lanch.Id}})" >&nbsp;&nbsp;to&nbsp;&nbsp;</button></td>
	</tr>
{{end}}
</table>

<script>
var launchId1 = null;
var launchId2 = null;
var alreadyScrolled = false;

function leftInDiff(launchId) {
	launchId1 = launchId;
	updateHtml();
}

function rightInDiff(launchId) {
	launchId2 = launchId;
	updateHtml();
}

function updateHtml() {
	if (launchId1 != null && launchId2 != null) {
		containter = document.getElementById("diffLinkContainer");
		containter.style.display="block";
		
		link = document.getElementById("diffLink");
		link.href = '/diff?launch_id1=' + launchId1 + '&launch_id2=' + launchId2;
		
		if (!alreadyScrolled) {
			window.location.hash = "#diffLinkContainer";
			alreadyScrolled = true;
		}
		
	}
	document.getElementById("launchId1").innerHTML = ("" + launchId1);
	document.getElementById("launchId2").innerHTML = ("" + launchId2);
}
</script>

{{end}}