{{define "title"}}Test Launches{{end}}

{{define "body"}}
<h1>Test Launches</h1>

<table class="pure-table" >
	<thead>
		<tr>
			<th>No</th>
			<th>Launch No.</th>
			<th>Tests launch</th>
			<th>Label</th>
			<th>Failed Tets Num</th>
			<th>ACTIONS</th>
			<th colspan="2">Launches diff</th>
		</tr>
	</thead>
{{range $index, $val := .}}
	<tr>
		<td>{{$index}}</td>
		<td>{{$val.Id}}</td>
		<td><a href="launch?launch_id={{$val.Id}}">{{$val.CreateDate.Format "2006-01-02 15:04:05"}}</a></td>
		<td>{{$val.Label}}</td>
		<td>{{$val.FailedTestsNum}}</td>
		<td>
			<a href="/delete-launch?launch_id={{$val.Id}}"><i class="fi-x red"></i></a>
		</td>
		<td><button onclick="leftInDiff({{$val.Id}})" >from</button></td>
		<td><button onclick="rightInDiff({{$val.Id}})" >&nbsp;&nbsp;to&nbsp;&nbsp;</button></td>
	</tr>
{{end}}
</table>

<script>
var launchId1 = null;
var launchId2 = null;

function leftInDiff(launchId) {
	launchId1 = launchId;
	updateHtml();
}

function rightInDiff(launchId) {
	launchId2 = launchId;
	updateHtml();
}

function updateHtml() {
	if (launchId1 != null && launchId2 != null) {
		containter = document.getElementById("diffLinkContainer");
		containter.innerHTML = '<a href="/diff?launch_id1=' + launchId1 + '&launch_id2=' + launchId2 + '" >Show diff</a>';
	}
	document.getElementById("launchId1").innerHTML = ("" + launchId1);
	document.getElementById("launchId2").innerHTML = ("" + launchId2);
}
</script>

<p>
Diff from <span id="launchId1">null</span> to <span id="launchId2">null</span> : <span id="diffLinkContainer"></span>
</p>

<div id="diagramm" style="width : 600px; height: 384px;" />

<script src="http://humblesoftware.com/static/js/hsd-flotr2.js?d3fa1"></script>

<script>
(function basic(container) {

	var d1 = [
{{range $index, $val := .}}
		[{{$index}}, {{$val.FailedTestsNum}}],
{{end}}
	]

	graph = Flotr.draw(container, [d1], {
		title: "Failed tests progression",
		parseFloat: false,
		xaxis: {
			title: "Launch number in list",
			minorTickFreq: 4,
			tickDecimals:0
		},
		yaxis: {
			tickDecimals:0,
			title: "Number of failed tests",
			titleAngle: 90
		},
		grid: {
			minorVerticalLines: true
		},
		mouse: {
			track: true
		}
	});
})(document.getElementById("diagramm"));
</script>


{{end}}