{{define "title"}}View TestCase{{end}}

{{define "body"}}
<h1>Test Info</h1>

<h3><a href="/launch?launch_id={{.TestLaunchId}}">Parent launch</a></h3>

<table >
<tr><td><b>ID:</b></td>			<td>{{.Id}}</td></tr>
<tr><td><b>Name:</b></td>		<td>{{.Name}}</td></tr>
<tr><td><b>ClassName:</b></td>	<td>{{.ClassName}}</td></tr>
<tr><td><b>Package:</b></td>		<td>{{.Package}}</td></tr>
<tr><td><b>Status:</b></td>		<td>{{.Status}}</td></tr>
</table>

{{if .FailureInfo}}
<h2>Failure info:</h2>
<b>Type:</b> {{.FailureInfo.Type}}<br /><br />

<p>
<a href="/dynamics?test_id={{.Id}}">Show dynamics for this test</a>
</p>

<!--
<b>Message:</b>
<pre>
{{.FailureInfo.Message}}
</pre>
-->

<b>Text:</b>
<pre>
{{.FailureInfo.Text}}
</pre>
{{end}}

{{end}}
